In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("./applicants_data.csv")

applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN","NAME"])

applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

#Encode categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [7]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables))

encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
#Wanted to see what it changed too. 

encoded_df.dtypes

APPLICATION_TYPE_T10        float64
APPLICATION_TYPE_T12        float64
APPLICATION_TYPE_T13        float64
APPLICATION_TYPE_T14        float64
APPLICATION_TYPE_T15        float64
                             ...
INCOME_AMT_25000-99999      float64
INCOME_AMT_50M+             float64
INCOME_AMT_5M-10M           float64
SPECIAL_CONSIDERATIONS_N    float64
SPECIAL_CONSIDERATIONS_Y    float64
Length: 114, dtype: object

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [10]:
# Using the Pandas concat function, combining the dataframes

attition_df = pd.concat([numerical_variables_df, encoded_df], axis=1)

attition_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Define the target set y using the IS_SUCCESSFUL column

y = attition_df["IS_SUCCESSFUL"]

y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
X = attition_df.drop(columns=["IS_SUCCESSFUL"])

X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = len(X_train.iloc[0])

number_output_neurons

116

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1) // 2

hidden_nodes_layer1

58

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

hidden_nodes_layer2

29

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer specifying the number of hidden nodes and the activation function
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function

nn.add(Dense(units=1, activation="sigmoid"))

In [21]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5782 - accuracy: 0.7179
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7294
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7295
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5484 - accuracy: 0.7318
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5465 - accuracy: 0.7308
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7326
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7335
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7331
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7341
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7345
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7356
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7361
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7364
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7363
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7367
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7369
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7363
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7355
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7381
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7371
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7376
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7388
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7380
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7386
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7380
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7379
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7384
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7385
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7393
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7384
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7394
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7389
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7393
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7399
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7393
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7401
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7392
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7396
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5336 - accuracy: 0.7399
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7413
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7402
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7400
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7400
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7410
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7414
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7404
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7417

In [24]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

#Display the model loss and accuracy results
print(f"Loss; {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5563 - accuracy: 0.7311 - 691ms/epoch - 3ms/step
Loss; 0.5563076138496399, Accuracy: 0.7310787439346313

In [25]:
# Set the model's file path
file_path = Path("AlphabetSoup.h5")

#Export model to a HDF5 file
nn.save(file_path)

In [249]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[:3])

number_input_features

3

In [250]:
# Define the number of neurons in the output layer
# Define the number of neurons in the output layer
number_output_neurons_A1 = len(X_train.iloc[:3])


number_output_neurons_A1

3

In [251]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 =  (number_input_features + 1) // 2



hidden_nodes_layer1_A1

2

In [252]:
# Define the number of hidden nodes for the second hidden layer
# Use the mean of the number of hidden nodes in the first hidden layer plus the number of output nurons

hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + 1) // 2

In [253]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [254]:
# First hidden layer
# Add the first hidden layer
nn_A1.add(Dense(hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

#Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))
# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))

nn_A1.summary()

Model: "sequential_25"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_85 (Dense)            (None, 2)                 8

 dense_86 (Dense)            (None, 1)                 3

 dense_87 (Dense)            (None, 1)                 2

=================================================================
Total params: 13
Trainable params: 13
Non-trainable params: 0
_________________________________________________________________

In [255]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [256]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50

ValueError: in user code:

    File "C:\Users\brand\anaconda3\lib\site-packages\keras\engine\training.py", line 1051, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\brand\anaconda3\lib\site-packages\keras\engine\training.py", line 1040, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\brand\anaconda3\lib\site-packages\keras\engine\training.py", line 1030, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\brand\anaconda3\lib\site-packages\keras\engine\training.py", line 889, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\brand\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\brand\anaconda3\lib\site-packages\keras\engine\input_spec.py", line 264, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential_25" is incompatible with the layer: expected shape=(None, 3), found shape=(None, 116)